header{

    justify-content: space-between; /*pega todo o conteúdo e justifica*/
    width: 100%;
    background-color: var(--black);
    height: 10vh;

    ul{
        display: flex;
        li{
            margin: 2rem;
        }
    }

    
}


a{
    color: var(--lightgray) !important;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    &:hover{
        color: var(--gray) !important;
    }
}